.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  padding-bottom: 1vh;
  width: 100%;
  animation: transicaoHeader 0.75s;
}

#header__logo {
  width: 6vw;
  min-width: 44px;
  max-height: 40px;
}

.header__links {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 2%;
  flex-wrap: wrap;
}

.header__links__botoes {
  color: var(--cor-azul-fraca);
  font-family: "Noto Sans", serif;
  font-size: 1.1rem;
  border: solid 2px var(--cor-branca);
}

.header__links__botoes:hover {
  transform: scale(1.1);
}

#header__div__centralizar {
  width: 6vw;
  min-width: 44px;
  max-height: 40px;
  visibility: hidden;
}

.section__contato {
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
}
#section__contato__imagem {
  max-height: 184px;
  max-width: 320px;
  width: 70vw;
}

.section__contato__form {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 3%;
  gap: 1rem;
  width: 64.256%;
  max-width: 320px;
  font-family: "Noto Sans", serif;
  input {
    flex-wrap: wrap;
    border: grey 2px solid;
    padding: 1%;
    border-radius: 4px;
  }

  select {
    flex-wrap: wrap;
    border: grey 2px solid;
    padding: 1%;
    border-radius: 4px;
  }

  textarea {
    flex-wrap: wrap;
    border: grey 2px solid;
    padding: 1%;
    height: 12vh;
    border-radius: 4px;
    resize: none;
  }
  *:not(label, textarea, h3):hover {
    background-color: var(--cor-azul-fraca);
    color: var(--cor-branca);
  }
}

#section__contato__form__submit {
  width: 55%;
  align-self: flex-end;
  background-color: var(--cor-azul-forte);
  color: var(--cor-branca);
  border: hidden;
  border-radius: 5px;
  padding: 2%;
}

#section__contato__form__submit:hover {
  scale: 1.05;
  cursor: pointer;
  background-color: var(--cor-azul-fraca);
}

.footer {
  display: flex;
  background-color: var(--cor-azul-forte);
  color: var(--cor-branca);
  width: 100%;
  flex-wrap: wrap;
  min-width: 11vh;
  animation: transicaoFooter 1s;
}

.footer__links {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  flex: 1;
  flex-wrap: wrap;
  gap: 1%;
}

.footer__links__imagem {
  width: 2rem;
}

.footer__links__imagem:hover {
  transform: scale(1.1);
}

#footer__logo {
  margin-left: auto;
  margin-right: 2vw;
  align-self: center;
  width: 4vw;
  padding: 0.5%;
  min-width: 72px;
}
