.footer {
  display: flex;
  background-color: var(--cor-azul-forte);
  color: var(--cor-branca);
  width: 100%;
  flex-wrap: wrap;
  min-width: 11vh;
  animation: transicaoFooter 1s;
}

.footer__links {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  flex: 1;
  flex-wrap: wrap;
  gap: 1%;
}

.footer__links__imagem {
  width: 2rem;
}

.footer__links__imagem:hover {
  transform: scale(1.1);
}

#footer__logo {
  margin-left: auto;
  margin-right: 2vw;
  align-self: center;
  width: 4vw;
  padding: 0.5%;
  min-width: 72px;
}
