.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  padding-bottom: 1vh;
  width: 100%;
  animation: transicaoHeader 0.75s;
}

#header__logo {
  width: 6vw;
  min-width: 44px;
  max-height: 40px;
}

.header__links {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 2%;
  flex-wrap: wrap;
}

.header__links__botoes {
  color: var(--cor-azul-fraca);
  font-family: "Noto Sans", serif;
  font-size: 1.1rem;
  border: solid 2px var(--cor-branca);
}

.header__links__botoes:hover {
  transform: scale(1.1);
}

#header__div__centralizar {
  width: 6vw;
  min-width: 36px;
  visibility: hidden;
}
