.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  padding-bottom: 1vh;
  width: 100%;
  animation: transicaoHeader 0.75s;
}

#header__logo {
  width: 6vw;
  min-width: 44px;
  max-height: 40px;
}

.header__links {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 2%;
  flex-wrap: wrap;
}

.header__links__botoes {
  color: var(--cor-azul-fraca);
  font-family: "Noto Sans", serif;
  font-size: 1.1rem;
  border: solid 2px var(--cor-branca);
}

.header__links__botoes:hover {
  transform: scale(1.1);
}

#header__div__centralizar {
  width: 6vw;
  min-width: 36px;
  visibility: hidden;
}

.section__lancamento__video {
  padding: 0.3% 1% 0%;
  margin-bottom: auto;
}

.section__lancamento__video__div {
  padding-top: 1.2%;
  aspect-ratio: 16/9;
  float: right;
  width: 45vw;
}

.section__lancamento__video__div__descricao {
  width: 50%;
  padding-top: 2%;
}

.section__lancamento__video__div__titulo {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-left: 2%;
  margin-right: 2%;
}
.section__lancamento__video__div__texto {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: justify;
  margin-left: 2%;
  margin-right: 2%;
}

#section__lancamento__video__div__frame {
  box-sizing: border-box;
  border-radius: 10px;
  border: solid 2px var(--cor-azul-forte);
}

.section__lancamento__comparar__produto__div {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
}

.section__lancamento__comparar__produto__div__info {
  display: flex;
}

.section__lancamento__comparar__div__imagens__texto {
  display: flex;
}

.section__lancamento__comparar__div__menu__checkbox {
  width: 15%;
  height: 25px;
}

#section__lancamento__comparar__form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-top: auto;
}

#section__lancamento__comparar__form__submit {
  align-self: center;
  color: var(--cor-branca);
  margin-top: auto;
  margin-bottom: auto;
  background-color: var(--cor-azul-forte);
  border-radius: 10px;
  border-color: var(--cor-branca);
  padding: 0.6em 4%;
}

#section__lancamento__comparar__form__submit:hover {
  cursor: pointer;
  background-color: var(--cor-azul-fraca);
}

.section__lancamento__comparar__div__menu__label__titulo {
  color: var(--cor-azul-fraca);
}

.section__lancamento__comparar__tabela__botao {
  background-color: var(--cor-branca);
  border: none;
  align-self: flex-start;
  margin-left: auto;
}

.section__lancamento__comparar__tabela__botao:hover {
  cursor: pointer;
  animation: botaoPulsando 0.3s infinite;
  animation-direction: alternate;
}

.footer {
  display: flex;
  background-color: var(--cor-azul-forte);
  color: var(--cor-branca);
  width: 100%;
  flex-wrap: wrap;
  min-width: 11vh;
  animation: transicaoFooter 1s;
}

.footer__links {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  flex: 1;
  flex-wrap: wrap;
  gap: 1%;
}

.footer__links__imagem {
  width: 2rem;
}

.footer__links__imagem:hover {
  transform: scale(1.1);
}

#footer__logo {
  margin-left: auto;
  margin-right: 2vw;
  align-self: center;
  width: 4vw;
  padding: 0.5%;
  min-width: 72px;
}
