@media only screen and (max-width: 320px) {
  #header__logo {
    min-width: auto;
    min-height: auto;
    width: 20vw;
  }
  .header__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #header__div__centralizar {
    min-width: auto;
    min-height: auto;
    width: 20vw;
  }
}

@media only screen and (min-width: 1600px) {
  #header__logo {
    max-height: 9vh;
  }
}

@media only screen and (max-width: 639px) {
  #section__principal__div {
    margin-left: 0%;
  }
  #section__principal__imagem__link {
    align-self: center;
  }
  .section__lancamento__video {
    padding-left: 1%;
    padding-right: 1%;
  }

  .section__lancamento__video__div {
    width: 100%;
  }
  .section__lancamento__video__div__descricao {
    width: 100%;
  }
}
