@media only screen and (min-width: 1600px) {
  #header__logo {
    max-height: 9vh;
  }
}

@media only screen and (max-width: 639px) {
  #section__principal__div {
    margin-left: 0%;
  }
  #section__principal__imagem__link {
    align-self: center;
  }
  .section__lancamento__video {
    padding-left: 1%;
    padding-right: 1%;
  }

  .section__lancamento__video__div {
    width: 100%;
  }
  .section__lancamento__video__div__descricao {
    width: 100%;
  }

  .section__lancamento__comparar__div__menu {
    position: relative !important;
    margin: calc(100dvh - 250px) auto 1% !important;
    max-height: 700px;
    min-height: 600px;
  }
}

@media only screen and (max-width: 375px) {
  #header__logo {
    width: 44px;
    height: 28px;
  }
  .header__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #header__div__centralizar {
    width: 44px;
    height: 28px;
  }
  .section__lancamento__comparar__div__menu {
    margin: calc(100dvh - 30px) auto 1% !important;
  }
}

@media only screen and (max-width: 375px) and (min-height: 750px) {
  .section__lancamento__comparar__div__menu {
    margin: 30dvh auto 1% !important;
  }
}
